// Top

.menu {
    margin: 0;
    background: #f1f1f1;
    padding: 8px 0;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    line-height: 16rem;
    color: #757575;
    border-bottom: 1px solid #e5e5e5;
}

.menu-text {
    &.home-link {
        text-transform: uppercase;
    }
}
