
.required {
    &::before {
        content: '*';
        color: #e43838;
        padding-right: 3px;
    }
}

input, textarea, select {
    &.ng-touched {
        &.ng-invalid {
            border: 1px solid #e43838;
        }

        &.ng-valid {
            border: 1px solid #71c592;
        }
    }
}
