<div class="row">
    <h1>PostgreSQL, Hapi.js, AngularJs, & Node.js</h1>
    <h3 class="push-bottom-2x">Dynamic Movie App: <strong>All Movies</strong></h3>
    <div class="row">
        <div class="small-12 medium-4 large-4 columns">
            <button type="button" class="button small-12 large-6" ui-sref="editMovie"><i class="fa fa-plus"></i> Add New Movie</button>
        </div>
        <div class="small-12 medium-4 large-4 columns medium-offset-4 large-offset-4">
            <input type="search" ng-model="Movie.searchParams" placeholder="Enter search terms..." ng-change="Movies.updateMovieList(Movie.searchParams, Movie.orderParams)">
        </div>
    </div>
    <div class="small-12">
        <p class="filterCount"></p>
        <table class="stack hover text-center">
            <thead>
                <tr>
                    <th class="text-center" width="200">Title</th>
                    <th class="text-center" width="150">Year</th>
                    <th class="text-center">Synopsis</th>
                    <th class="text-center" width="250">Directed By</th>
                    <th class="text-center" width="150">View/Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movie in Movies.allMoviesFiltered" class="animate">
                    <td>{{movie.title}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{movie.synopsis | limitTo: 50}}...</td>
                    <td>{{movie.Director.firstName}} {{movie.Director.lastName}}</td>
                    <td class="text-center">
                        <div class="action-buttons">
                            <a class="action" ui-sref="viewMovie({ id: movie.id })"><i class="fa fa-search"></i></a>
                            <a class="action" ui-sref="editMovie({ id: movie.id })" access-level="admin"><i class="fa fa-pencil-square-o"></i></a>
                            <a class="action" ng-click="Movies.showDeleteModal(movie.id, $index, movie.title)" access-level="admin"><i class="fa fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="small-12 medium-6 large-3 medium-offset-6 large-offset-9 text-right">
        <label>Sort by:
            <select ng-model="Movie.orderParams" ng-change="Movies.updateMovieList(Movie.searchParams, Movie.orderParams)" selected="Movie.orderParams">
                <option value="title">Title</option>
                <option value="year">Year</option>
                <option value="Director.lastName">Director</option>
                <option value="-createdAt">Date of Entry</option>
                <option value="-updatedAt">Last Updated</option>
            </select>
        </label>
    </div>
</div>
<div delete-record-modal delete="Movies.deleteMovie(id, index)">
    <div class="small-12 text-right">
        <i class="fa fa-times" ng-click="Movies.hideDeleteModal()"></i>
    </div>
    <h4>Delete this movie record?</h4>
</div>
