<div class="row">
    <h1 class="text-center">PostgreSQL, Hapi.js, AngularJs, & Node.js</h1>
    <h3 class="push-bottom-2x text-center">Dashboard</h3>
    <div class="row">
		<div class="small-12 medium-3 large-3 text-center columns">
            <button type="button" class="button small-12 medium-8" ui-sref="editMovie"><i class="fa fa-plus"></i> Add New Movie</button>
        </div>
		<div class="small-12 medium-3 large-3 text-center columns">
            <button type="button" class="button small-12 medium-8" ui-sref="editDirector"><i class="fa fa-plus"></i> Add New Director</button>
        </div>
		<div class="small-12 medium-3 large-3 text-center columns">
            <button type="button" class="button small-12 medium-8" ui-sref="allMovies"><i class="fa fa-plus"></i> Edit Movies</button>
        </div>
		<div class="small-12 medium-3 large-3 text-center columns">
            <button type="button" class="button small-12 medium-8" ui-sref="allDirectors"><i class="fa fa-plus"></i> Edit Directors</button>
        </div>
	</div>
	<br/>
	<h5>User List</h5>
	<div class="row">
		<table style="width:100%">
		  <tr>
		    <th>Username</th>
		    <th>Email</th>
		  </tr>
		  <tr ng-repeat="user in Dashboard.users">
			  <td>{{user.username}}</td>
  		      <td>{{user.email}}</td>
		  </tr>
		</table>
	</div>
</div>
