<div class="row">
    <h1>PostgreSQL, Hapi.js, AngularJs, & Node.js</h1>
    <h5 class="push-bottom-4x text-justify">This <strong>S</strong>ingle <strong>P</strong>age <strong>A</strong>pplication demonstrates the efficiency of working with an AngularJS frontend and a <strong>REST</strong>ful API.
    The site is hosted on an <strong>A</strong>mazon <strong>W</strong>eb <strong>S</strong>ervices EC2 server running <strong>nginx</strong> on an Ubuntu 14.0.4 OS. This particular stack utilizes <strong>hapi.js</strong> with a <strong>postgreSQL</strong> database
     for an effectively scaleable <strong>API</strong>.  The front-end is built with <strong>AngularJS</strong> 1.x granting the benefit of a quick frontend User Interface and a smooth User Experience. In retrospect, I would like to
 research different options for an ORM to combine with HapiJS.  Looking forward, I can see a variety of benefits from Angular2 or ReactJS for a more scaleable frontend.</h5>
    <h3 class="push-bottom-2x">Dynamic Movie App</h3>
    <div class="row">
        <div class="small-12 medium-4 large-4 columns">
            <button type="button" class="button small-12 large-6" ng-click="Home.addNewMovie()"><i class="fa fa-plus"></i> Add New Movie</button>
        </div>
        <div class="small-12 medium-4 large-4 columns medium-offset-4 large-offset-4 text-right">
            <button type="button" class="button small-12 large-6" ng-click="Home.addNewDirector()"><i class="fa fa-plus"></i> Add New Director</button>
        </div>
    </div>
    <div class="small-12">
        <p>
            This app demonstrates a basic relation of data, in this case: Movies to Directors.  The same type of relational data is present in all data centric applications,
            and usually with much more complexity.  This is just one piece of a bigger picture, although building the puzzle requires first understanding the individual elements of it's design.
            I hope this helps to convey the versatility, effeciency, and application of the technologies and the benefits of their use in a development and production environment.
        </p>
    </div>
    <div class="small-12">
        <table class="stack hover text-center">
            <thead>
                <tr>
                    <th class="text-center" width="200">Title</th>
                    <th class="text-center" width="150">Year</th>
                    <th class="text-center">Synopsis</th>
                    <th class="text-center" width="250">Directed By</th>
                    <th class="text-center" width="150">View/Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movie in Home.allMovies" class="animate">
                    <td>{{movie.title}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{movie.synopsis | limitTo: 50}}...</td>
                    <td>{{movie.Director.firstName}} {{movie.Director.lastName}}</td>
                    <td class="text-center">
                        <div class="action-buttons">
							<a class="action" ui-sref="viewMovie({ id: movie.id })"><i class="fa fa-search"></i></a>
							<span access-level="admin"><a class="action" ui-sref="editMovie({ id: movie.id })"><i class="fa fa-pencil-square-o"></i></a></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
