<div class="row">
    <h1>PostgreSQL, Hapi.js, AngularJs, & Node.js</h1>
    <h3 class="push-bottom-2x">Dynamic Movie App: <strong>{{Movie.currentMovie.title}}</strong></h3>
    <h5>ID: {{Movie.currentMovie.id}} | Director: {{Movie.currentDirector.fullName}} | {{Movie.currentMovie.year}} | {{Movie.currentMovie.genre}} | {{Movie.currentMovie.rating}} <ng-pluralize count="Movie.currentMovie.rating" when="{1: 'star', 'other': 'stars'}"></ng-pluralize></h5>
    <label><u>Storyline</u></label>
    <p class="text-justify">
        {{Movie.currentMovie.description}}
    </p>
</div>
